// @import url('../../App.scss');
  
  .outline {
    border: 1px solid #d4d4d4;
    border-radius: 6px;
    width: 25%;
    padding: 1rem;
  }

  .heading {
    border-bottom: 1px solid #d4d4d4;
  }

  .add-product {
    display: flex;
    justify-content: center;
  }

  .add-btn {
    // background-color: #95BF46 !important;
  }

  .product-btns {
    display: flex !important;
    justify-content: space-around !important;
  }
